<!--
Filename:     views/businessContacts/list.ejs
Student name: Kyle O'Keeffe
StudentID:    301156790
Date:         Oct. 23, 2021  
-->

<%- include ../partials/header.ejs %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<main class="container">
    <div class="row">
        <div class="table-responsive">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                
                <!-- Header row -->
                <tr>
                    <th class = "text-center">Name</th>
                    <th class = "text-center">Telephone</th>
                    <th class = "text-center">Email</th>
                    <th class = "text-center" colspan="2">Actions</th>
                </tr>

                <!-- Single row to be looped for each database entry -->
                <% for(let i = 0; i<BusinessContactsList.length; i++){ %>
                    <tr>
                    <td><%= BusinessContactsList[i].name %></td>
                    <td><%= BusinessContactsList[i].telephone %></td>
                    <td><%= BusinessContactsList[i].email %></td>
                    <td><a class="btn btn-primary btn-sm" href="/businessContacts/edit/<%= BusinessContactsList[i]._id %>">Edit<i class= "fas fa-pencil-alt"></i></a></td>
                    <td><a class="btn btn-danger btn-sm" href="/businessContacts/delete/<%= BusinessContactsList[i]._id %>">Delete<i class= "fas fa-pencil-alt"></i></a></td>
                    </tr> 
                <% } %>
            </table>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>
